.deps/
.vscode/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
compile
config.guess
config.sub
configure
depcomp
install-sh
*.o
missing
stamp-h1
videograbber
videograbber_config.h
videograbber_config.h.in

